.Navigation {
  background-color: #d2b48c;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 30px;
}
.barrita {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.barrita li {
  margin-right: 20px;
}
.barrita a {
  text-decoration: none;
  color: #4e342e;
}
